[submodule "board/sort"]
	path = board/sort
	url = https://github.com/abewley/sort.git
[submodule "software_prototype/sort"]
	path = software_prototype/sort
	url = https://github.com/abewley/sort.git
